$pry-color: #008000;
$pry-color-var: #06a800;
$pry-color-light: #0080001a;

/***********************

    GENERAL SETUP

************************/

body {
	font-family: "DM Sans", sans-serif !important;
	font-size: 16px;
	background: white;
}

*::selection {
	background: $pry-color;
	color: #fff;
}

.bg-white {
	background: #fff;
}

.bg-pry {
	background: $pry-color !important;
}

.bg-pry-light {
	background: $pry-color-light !important;
}

.bg-black {
	background: #000;
}

.text-pry {
	color: $pry-color !important;
}

.ant-btn-primary {
	background: $pry-color !important;
	border-color: $pry-color;

	&:hover {
		border-color: $pry-color;
		background: $pry-color-var !important;
	}
}

.ant-input:hover,
.ant-input:focus {
	border-color: $pry-color;
	box-shadow: none;
}

a {
	color: $pry-color;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
	position: relative;

	&:hover {
		color: $pry-color-var;
	}
}

a.half-filled-link {
	position: relative;
	padding: 0 0.5em;
	color: #fff;
	display: inline-block;
	z-index: 3;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 50%;
		background-color: #008000;
		z-index: -10;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}

	&:hover {
		cursor: pointer;
		&:after {
			height: 100%;
		}
	}
}

@keyframes left {
	0% {
		left: 0;
	}

	50% {
		left: 8px;
	}

	100% {
		left: 5px;
	}
}

a.hover-left:hover {
	animation: left 500ms;
	left: 5px;
}

p {
	font-size: 16px !important;
}

/***********************

    HEADER

************************/
@keyframes animate {
	from {
		opacity: 0;
		background: transparent;
		transform: translateY(-80px);
	}

	to {
		opacity: 1;
		background: white;
		transform: translateY(0px);
	}
}

.header {
	background: white;

	.navbar-brand {
		padding: 15px 0;

		.ri-logo {
			width: 50px;
		}
	}

	&__fixed {
		position: fixed;
		top: 0;
		z-index: 10;
		animation: animate 500ms;

		& + div {
			margin-top: 80px;
		}
	}

	.navbar-toggler:focus {
		outline-color: #008000;
	}

	.collapse {
		height: calc(100vh - 75px);
		@media screen and (min-width: 992px) {
			height: 80px;
		}
	}

	a,
	button {
		font-size: 16px;
		display: inline-block;
		position: relative;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		transition: all 0.3s linear;

		&:hover {
			color: $pry-color !important;
		}

		&.dropdown-item.active,
		&.dropdown-item:active {
			background-color: transparent;
			color: #212529;
			border-bottom: 0;
		}

		&.dropdown-item.active:hover {
			background: #f8f9fa;
		}

		@media screen and (min-width: 992px) {
			top: 0px;

			&:hover {
				top: -3px;

				&.dropdown-item,
				&.navbar-brand {
					top: 0;
				}
			}

			&.active {
				border-bottom: 3px solid $pry-color;
				top: 3px;
			}

			&.dropdown-item.active:hover {
				top: 3px;
			}
		}
	}

	@media screen and (max-width: 991px) {
		.nav-item {
			border-top: 1px solid $pry-color;

			&.last {
				border-bottom: 1px solid $pry-color;
			}
		}
	}

	.nav-item:focus {
		outline: none;
	}

	.btn:focus {
		box-shadow: none;
		color: rgba(0, 0, 0, 0.5) !important;
	}
}

/***********************

    HOMEPAGE SLIDER

************************/

.slider {
	.slider__slide {
		height: 600px;
		color: #fff;
		text-align: center;

		.slider__slide-bg {
			background-position: center 50% !important;
			background-size: cover !important;
		}

		h3 {
			font-size: 30px;
			line-height: 43px;

			@media screen and (min-width: 992px) {
				font-size: 45px;
				line-height: 60px;
			}
		}
	}

	.slick-dots-right {
		right: 15px;
	}

	.slick-dots li button:before {
		left: -8px;
		content: "";
	}
}

/***********************

    ABOUT US

************************/
.about-us {
	h2 {
		font-size: 40px;
	}
}

/***********************

	    LATEST BLOG

************************/

.latest-blog {
	img {
		height: 120px;
		object-fit: cover;
		object-position: 50% 30%;
	}

	h4 {
		font-weight: bold;
		font-size: 20px;
	}

	a {
		font-size: 12px;
	}
}

.latest-blog,
.latest-opportunities {
	p {
		font-size: 14px !important;
		margin-bottom: 0;
	}
}

/***********************

	LATEST OPPORTUNITIES

************************/

.latest-opportunities {
	.ant-card-body {
		&:hover {
			color: #000;
		}
	}
}

/***********************

	TESTIMONIALS

************************/

.testimonials {
	overflow-x: hidden !important;

	.testimonial {
		height: 120px;
	}

	.footer {
		height: 20px;
		line-height: 20px;
	}

	.slick-slide {
		overflow-x: hidden !important;
	}

	.slick-slider {
		.slick-next,
		.slick-prev {
			display: none !important;
		}
	}

	.slick-dots {
		bottom: -40px;
	}
}

/***********************

		FOOTER

************************/
.footer {
	a.links {
		color: #333;
		font-size: 14px;

		&:hover {
			color: $pry-color;
		}
	}

	@media screen and (min-width: 576px) and (max-width: 1024px) {
		.ant-form-item-control-input-content {
			display: flex;
			justify-content: center;
		}
	}

	&-details {
		span {
			line-height: 30px;
		}
	}

	a.dev {
		color: $pry-color-var;
		font-size: 16px;

		&:hover {
			color: #fff;
		}
	}

	input {
		&:focus,
		&:hover {
			border-color: $pry-color;
			box-shadow: none;
		}
	}
}

/**********************************************

			BLOG SECTION

***********************************************/

.blog {
	.banner {
		background-color: #dfdbe5;
		// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%2306a800' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
		background-size: cover !important;
		background-position: 50% 40% !important;

		h3 {
			line-height: 40px;
		}
	}
}

.clamp-lines__button {
	display: none;
}

/***********************

		LATEST

************************/

.latest {
	h5 {
		font-size: 16px;
	}

	.tag {
		position: absolute;
		top: 250px;
		left: 20px;
		border-radius: 30px;
		font-size: 12px;
	}

	.card-title {
		font-size: 18px;
		line-height: 25px;
	}

	img {
		object-fit: cover;
	}

	.img_1 {
		height: 300px;
	}

	.featured {
		&__img {
			height: 100px;
		}

		h2 {
			font-size: 14px;
			line-height: 20px;
			font-weight: bold;
		}

		.col-h {
			height: 150px;
		}

		.date {
			font-size: 12px !important;
		}

		.more {
			font-size: 14px;
		}
	}
}

/***********************

		SCHOLARSHIPS
		EMPOWERMENTS

************************/
.scholarships,
.empowerments,
.jobs {
	.card {
		@media screen and (min-width: 768px) {
			max-width: 320px;
		}

		@media screen and (min-width: 992px) {
			max-width: 300px;
		}

		@media screen and (min-width: 1200px) {
			max-width: 350px;
		}
	}

	img {
		height: 150px;
		object-fit: cover;
	}

	.date {
		font-size: 12px !important;
	}

	.clamp-lines {
		h4 {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 0.75rem;
			font-weight: 700;
		}

		p {
			font-size: 14px !important;
		}
	}

	a {
		font-size: 14px !important;
	}
}

/***********************

		REVIEW

************************/
.review {
	background-color: #ffffff;
	background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23008000' fill-opacity='0.03'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");

	.ant-form-horizontal .ant-form-item-label {
		display: none;
	}

	.ant-form-item .ant-mentions,
	.ant-form-item textarea.ant-input {
		height: 150px;
		resize: none;
		border-radius: 20px;
		padding: 15px;
	}

	.ant-form-item-control-input-content {
		display: flex;
		justify-content: center;
	}
}

/**********************************************

			AUTHENTICATION PAGE

***********************************************/
.auth-header {
	position: fixed;
	z-index: 10;

	.ri-logo {
		width: 40px;
	}
}

.registration {
	padding-top: 66px;

	.fixed {
		height: calc(100vh - 66px);
		overflow: hidden;
		position: fixed;
		background-size: cover !important;
		background-position: 50% 10% !important;
		left: 0;
		top: 66px;
	}

	@media screen and (min-width: 768px) {
		&__form {
			position: absolute;
			height: 100vh;
			overflow: scroll;
			left: 50%;
		}
	}

	.ant-picker {
		width: 100%;
	}
}

.auth-footer {
	position: absolute;
	z-index: 10;

	@media screen and (min-width: 768px) {
		top: 100vh;
	}
}

.user-login {
	background-attachment: fixed !important;
	background-size: cover !important;
	background-position: 50% 80% !important;

	@media screen and (max-width: 767px) {
		.registration__form {
			height: 80vh;
		}
	}

	.login-form-forgot {
		float: right;
	}

	.ant-col-rtl .login-form-forgot {
		float: left;
	}

	.login-form-button {
		width: 100%;
	}
}

/**********************************************

					PROFILE

***********************************************/
.profile-details {
	padding-top: 100px;

	.background {
		height: 150px;
		margin-top: -50px;
		background-size: cover !important;
		background-position: 50% 30% !important;
	}

	.info {
		img {
			width: 100px;
			height: 100px;
			object-fit: cover;
		}
	}
}
