/***********************

    GENERAL SETUP

************************/
body {
  font-family: "DM Sans", sans-serif !important;
  font-size: 16px;
  background: white;
}

@media screen and (min-width: 1920px) {
  body {
    font-size: 120% !important;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1250px !important;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1700px !important;
  }
}

@media screen and (min-width: 2300px) {
  .container {
    max-width: 2100px !important;
  }
}

*::selection {
  background: #008000;
  color: #fff;
}

.bg-white {
  background: #fff;
}

.bg-pry {
  background: #008000 !important;
}

.bg-pry-light {
  background: #0080001a !important;
}

.bg-black {
  background: #000;
}

.text-pry {
  color: #008000 !important;
}

.ant-btn-primary {
  background: #008000 !important;
  border-color: #008000;
}

.ant-btn-primary:hover {
  border-color: #008000;
  background: #06a800 !important;
}

.ant-input:hover,
.ant-input:focus {
  border-color: #008000;
  box-shadow: none;
}

a {
  color: #008000;
  transition: all 0.3s linear;
  position: relative;
}

a:hover {
  color: #06a800;
}

@keyframes left {
  0% {
    left: 0;
  }
  50% {
    left: 8px;
  }
  100% {
    left: 5px;
  }
}

a.hover-left:hover {
  animation: left 500ms;
  left: 5px;
}

p {
  font-size: 16px !important;
}

/***********************

    HEADER

************************/
@keyframes animate {
  from {
    opacity: 0;
    background: transparent;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    background: white;
    transform: translateY(0px);
  }
}

.header {
  background: white;
}

.header .navbar-brand {
  padding: 15px 0;
}

.header .navbar-brand .ri-logo {
  width: 50px;
}

.header__fixed {
  position: fixed;
  top: 0;
  z-index: 10;
  animation: animate 500ms;
}

.header__fixed + div {
  margin-top: 80px;
}

.header .navbar-toggler:focus {
  outline-color: #008000;
}

.header .collapse {
  height: calc(100vh - 75px);
}

@media screen and (min-width: 992px) {
  .header .collapse {
    height: 80px;
  }
}

.header a,
.header button {
  font-size: 16px;
  display: inline-block;
  position: relative;
  transition: all 0.3s linear;
}

.header a:hover,
.header button:hover {
  color: #008000 !important;
}

.header a.dropdown-item.active, .header a.dropdown-item:active,
.header button.dropdown-item.active,
.header button.dropdown-item:active {
  background-color: transparent;
  color: #212529;
  border-bottom: 0;
}

.header a.dropdown-item.active:hover,
.header button.dropdown-item.active:hover {
  background: #f8f9fa;
}

@media screen and (min-width: 992px) {
  .header a,
  .header button {
    top: 0px;
  }
  .header a:hover,
  .header button:hover {
    top: -3px;
  }
  .header a:hover.dropdown-item, .header a:hover.navbar-brand,
  .header button:hover.dropdown-item,
  .header button:hover.navbar-brand {
    top: 0;
  }
  .header a.active,
  .header button.active {
    border-bottom: 3px solid #008000;
    top: 3px;
  }
  .header a.dropdown-item.active:hover,
  .header button.dropdown-item.active:hover {
    top: 3px;
  }
}

@media screen and (max-width: 991px) {
  .header .nav-item {
    border-top: 1px solid #008000;
  }
  .header .nav-item.last {
    border-bottom: 1px solid #008000;
  }
}

.header .nav-item:focus {
  outline: none;
}

.header .btn:focus {
  box-shadow: none;
  color: rgba(0, 0, 0, 0.5) !important;
}

/***********************

    HOMEPAGE SLIDER

************************/
.slider .slider__slide {
  height: 600px;
  color: #fff;
  text-align: center;
}

.slider .slider__slide .slider__slide-bg {
  background-position: center 50% !important;
  background-size: cover !important;
}

.slider .slider__slide h3 {
  font-size: 30px;
  line-height: 43px;
}

@media screen and (min-width: 992px) {
  .slider .slider__slide h3 {
    font-size: 45px;
    line-height: 60px;
  }
}

.slider .slick-dots-right {
  right: 15px;
}

.slider .slick-dots li button:before {
  left: -8px;
  content: "";
}

/***********************

    ABOUT US

************************/
.about-us h2 {
  font-size: 40px;
}

/***********************

	    LATEST BLOG

************************/
.latest-blog img {
  height: 120px;
  object-fit: cover;
  object-position: 50% 30%;
}

.latest-blog h4 {
  font-weight: bold;
  font-size: 20px;
}

.latest-blog a {
  font-size: 12px;
}

.latest-blog p,
.latest-opportunities p {
  font-size: 14px !important;
  margin-bottom: 0;
}

/***********************

	LATEST OPPORTUNITIES

************************/
.latest-opportunities .ant-card-body:hover {
  color: #000;
}

/***********************

	TESTIMONIALS

************************/
.testimonials {
  overflow-x: hidden !important;
}

.testimonials .testimonial {
  height: 120px;
}

.testimonials .footer {
  height: 20px;
  line-height: 20px;
}

.testimonials .slick-slide {
  overflow-x: hidden !important;
}

.testimonials .slick-slider .slick-next,
.testimonials .slick-slider .slick-prev {
  display: none !important;
}

.testimonials .slick-dots {
  bottom: -40px;
}

/***********************

		FOOTER

************************/
.footer a.links {
  color: #333;
  font-size: 14px;
}

.footer a.links:hover {
  color: #008000;
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  .footer .ant-form-item-control-input-content {
    display: flex;
    justify-content: center;
  }
}

.footer-details span {
  line-height: 30px;
}

.footer a.dev {
  color: #06a800;
  font-size: 16px;
}

.footer a.dev:hover {
  color: #fff;
}

.footer input:focus, .footer input:hover {
  border-color: #008000;
  box-shadow: none;
}

/**********************************************

			BLOG SECTION

***********************************************/
.blog .banner {
  background-color: #dfdbe5;
  background-size: cover !important;
  background-position: 50% 40% !important;
}

.blog .banner h3 {
  line-height: 40px;
}

.clamp-lines__button {
  display: none;
}

/***********************

		LATEST

************************/
.latest h5 {
  font-size: 16px;
}

.latest .tag {
  position: absolute;
  top: 250px;
  left: 20px;
  border-radius: 30px;
  font-size: 12px;
}

.latest .card-title {
  font-size: 18px;
  line-height: 25px;
}

.latest img {
  object-fit: cover;
}

.latest .img_1 {
  height: 300px;
}

.latest .featured__img {
  height: 100px;
}

.latest .featured h2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

.latest .featured .col-h {
  height: 150px;
}

.latest .featured .date {
  font-size: 12px !important;
}

.latest .featured .more {
  font-size: 14px;
}

/***********************

		SCHOLARSHIPS
		EMPOWERMENTS

************************/
@media screen and (min-width: 768px) {
  .scholarships .card,
  .empowerments .card,
  .jobs .card {
    max-width: 320px;
  }
}

@media screen and (min-width: 992px) {
  .scholarships .card,
  .empowerments .card,
  .jobs .card {
    max-width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .scholarships .card,
  .empowerments .card,
  .jobs .card {
    max-width: 350px;
  }
}

@media screen and (min-width: 1440px) {
  .scholarships .card,
  .empowerments .card,
  .jobs .card {
    max-width: 380px;
  }
}

@media screen and (min-width: 1920px) {
  .scholarships .card,
  .empowerments .card,
  .jobs .card {
    max-width: 450px;
  }
}

@media screen and (min-width: 2300px) {
  .scholarships .card,
  .empowerments .card,
  .jobs .card {
    max-width: 480px;
  }
}

.scholarships img,
.empowerments img,
.jobs img {
  height: 150px;
  object-fit: cover;
}

.scholarships .date,
.empowerments .date,
.jobs .date {
  font-size: 12px !important;
}

.scholarships .clamp-lines h4,
.empowerments .clamp-lines h4,
.jobs .clamp-lines h4 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0.75rem;
  font-weight: 700;
}

.scholarships .clamp-lines p,
.empowerments .clamp-lines p,
.jobs .clamp-lines p {
  font-size: 14px !important;
}

.scholarships a,
.empowerments a,
.jobs a {
  font-size: 14px !important;
}

/***********************

		REVIEW

************************/
.review {
  background-color: #ffffff;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23008000' fill-opacity='0.03'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

.review .ant-form-horizontal .ant-form-item-label {
  display: none;
}

.review .ant-form-item .ant-mentions,
.review .ant-form-item textarea.ant-input {
  height: 150px;
  resize: none;
  border-radius: 20px;
  padding: 15px;
}

.review .ant-form-item-control-input-content {
  display: flex;
  justify-content: center;
}

/**********************************************

			AUTHENTICATION PAGE

***********************************************/
.auth-header {
  position: fixed;
  z-index: 10;
}

.auth-header .ri-logo {
  width: 40px;
}

.registration {
  padding-top: 66px;
}

.registration .fixed {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  background-size: cover !important;
  background-position: 50% 10% !important;
  left: 0;
  top: 66px;
}

@media screen and (min-width: 992px) {
  .registration__form {
    position: absolute;
    height: 100vh;
    overflow: scroll;
    left: 50%;
  }
}

.registration .ant-picker {
  width: 100%;
}

.auth-footer {
  position: absolute;
  z-index: 10;
}

@media screen and (min-width: 992px) {
  .auth-footer {
    top: 100vh;
  }
}

.user-login {
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: 50% 80% !important;
}

@media screen and (max-width: 991px) {
  .user-login .registration__form {
    height: 80vh;
  }
}

.user-login .login-form-forgot {
  float: right;
}

.user-login .ant-col-rtl .login-form-forgot {
  float: left;
}

.user-login .login-form-button {
  width: 100%;
}

/**********************************************

					PROFILE

***********************************************/
.profile-details {
  padding-top: 100px;
  margin-bottom: 80px;
}

@media screen and (min-width: 992px) {
  .profile-details {
    margin-bottom: 100px;
  }
}

.profile-details .background {
  height: 150px;
  margin-top: -50px;
  background-size: cover !important;
  background-position: 50% 30% !important;
}

.profile-details .background h3 {
  line-height: 150px;
}

.profile-details .info img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
